/* common css */

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #efefef;
}
.f{
  font-family: 'Poppins', sans-serif;
}
/* common css */
/* animated effect */

.bounceIn {
  animation-duration: 1500ms;
  animation-delay: 200ms;
}
/*hover animation effect*/
.card-img-hvr {
  position: relative;
}
.card-hvr-icon-png {
  padding: 108px 369px;
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  opacity: 0;
}
.card-hvr-icon-png:hover {
  opacity: 1;
  -webkit-animation: thing 1s;
  -o-animation: thing 1s;
  animation: thing 1s ease-in-out;
}

@keyframes thing {
  from {
    transform: rotate(0deg) scale(1, 1);
  }
  to {
    transform: rotate(15deg) scale(1.2, 1.2);
  }
}

/*hover animation effect*/
/* scroll top to bottom */
.scrollTop {
  position: fixed;
  right: 2%;
  bottom: 94px;
  background-color: #95979b;
  padding: 5px 11px;
  opacity: 0;
  border-radius: 2px;
  transition: all 0.4s ease-in-out 0s;
}
.scrollTop-icon {
  font-size: 22px;
  padding-top: 8px 10px;
  color: #fff;
  cursor: pointer;
}
/* scroll top to bottom */

/* top backgroung image */

/* top backgroung image */

/* top bar  */
a.search-icon{
  text-decoration: 
  none; color: red; 
  margin: 10px;
}
.search-bar{
  display:none; 
  background-color: #00385b; 
  color: #FFF; 
}

.search-form input[type="search"]{
  border:none; 
  width: 97%; 
  font-size: 30px; 
  padding: 10px; 
  background-color: #00385b; 
  color: #FFF; 
}
.search-form input[type="search"]:focus{
  outline: none;
} 

.search-form input[type="submit"]{
  background-color: #062d46; 
  border:none; color: #FFF; 
  padding: 15px; width: 10%; 
  border-radius: 20px; 
  font-size: 20px; 
  cursor: pointer;
}

.search-form input[type="submit"]:focus{
  outline: none;
}
.search-form input[type="submit"]:active{
  background-color: #31961f;
}
.searchbtn{
  border: none;
  background-color: transparent;
  
}

.searchbtn:focus{
 outline: none;
  
}

.searchbtn i{
color: #757575;
}
.topbar-bg {
  background-color: #46344E;
}

.mx-auto.row.topbar-row {
  width: 80%;
}
.logowdt{
  padding-left: 15px;
}
.logo_img {
  display: block;
  width: 68%;
  border: 1px solid #2c2a2d;
  border-bottom: 0;
  border-top: 0;
  box-shadow: 0px 1px 7px 1px rgb(0,0,0,.3);
}

.topbar_right {
  margin: auto;
  justify-content: flex-end;
}
.tolink-auto{
  margin: auto 0;
}
.topbar_right li{
  padding: 0px 6px;
}

.topbar_right li a{
  color: #fff;
  font-size: 16px;
}

.topbar_right li a:hover{
  color: #f2f2f2;
}

/* top bar  */
/* navbar section */

nav{
  height: 5rem;
  width: 100%;
  background-color: #0A1641;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  z-index: 10;
  border-bottom: 4px solid #385D8A;
}

/*Styling logo*/

.logo{
  padding:1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links{
  display: flex;
  list-style: none;
  margin: auto;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
  color: #D9F5FD;
  font-size: 19.4px;
  text-transform: capitalize;
  cursor: pointer;
}
.nav-links li a:hover {
  color: #61DAFB;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  right: 15%;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
  transform-origin: left;
}
.nav-links li a:hover::before{
  width: 80%;
  transform-origin: left;
}

/*Styling Buttons*/
.login-button{
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button{
  color: #131418;
  background-color: #61DAFB;
  border: 1.5px solid #61DAFB;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
      position: sticky;

  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
      background: #46344e;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .fade:not(.show) {
    opacity: 1;
}
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
/* navbar section */
.main_ul{
  border-bottom: 4px solid #0A1641;
}
.main_ul li{

}
.main_ul li a{
  padding: 24px;
  color: #000;
  font-size: 17px;
  background-color: #e0d1d1;
  border-radius: unset !important;

}
.main_ul li a.active{
  background-color: #46344E !important;
  border-radius: unset;
  
}
.scrollbar-near-moon::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-near-moon::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-near-moon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }
  
  .bordered-pink::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #ec407a; }
  
  .bordered-pink::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }
  
  .bordered-indigo::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #3f51b5; }
  
  .bordered-indigo::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }
  
  .bordered-black::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #000; }
  
  .bordered-black::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }
  
  .square::-webkit-scrollbar-track {
  border-radius: 0 !important; }
  
  .square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }
  
  .thin::-webkit-scrollbar {
  width: 6px; }
/* booking section */
.form_hgt{
  margin-top: 32px;
}
.from_bdr {
  border: 1px solid #d8cccc;
  border-radius: unset;
  height: 51px;
}
.form-group .departure_icon{
  color: #666;
  position: absolute;
  left: 2rem;
  top: 1em;
  display: inline-block;
}
.form-group .caret-down_in{
  color: #666;
  position: absolute;
  right: 1.6rem;
  top: 1em;
  display: inline-block;
}
.pikaday {
  position: relative;
  display: inline-block;
}
.pikaday .fa-calendar-alt {
  color: #666;
  position: absolute;
  right: 14px;
  top: 1em;
  display: inline-block;
}
.pikaday__display {
  
}
.is-today .pika-button {
  color: #444;
  background-color: #A7BAC5;
}
.is-selected .pika-button {
  background-color: #4f758B;
  color: white;
}
.pika-button:hover {
  background-color: #cf7f00;
}
.pika-table th {
  color: #777;
  background-color: white;
}
.pika-table th abbr[title] {
  border: none;
  text-decoration: none;
  cursor: default;
}
/** OVERRIDES for AAFP ISSUES **/
.pika-next,
.pika-prev,
.pika-button {
  box-shadow: none;
}
.pika-button {
  background-color: #dce3e8;
  color: #444;
}
.pika-label {
  font-size: 18px;
  color: #4f758b;
}
.pika-single table tr th:first-child {
  padding-left: 0;
}
.pika-button,
.pika-prev,
.pika-next {
  border-radius: 0 !important;
}
.pika-table {
  display: table;
  vertical-align: middle;
  float: none;
  clear: none;
}
.pika-table thead,
.pika-table tbody,
.pika-table th,
.pika-table td,
.pika-table tr {
  float: none;
  clear: none;
}
.pika-table thead {
  display: table-header-group;
}
.pika-table tr {
  display: table-row;
  border: 0;
}
.pika-table td,
.pika-table th {
  display: table-cell;
}
.pika-table thead {
  display: table-header-group;
}
.pika-table tbody {
  display: table-row-group;
}
.pika-table tfoot {
  display: table-footer-group;
}
.pika-table th {
  font-weight: bolder;
  text-align: center;
}
.pika-table td,
.pika-table th,
.pika-table tr {
  vertical-align: inherit;
}
.pika-table table {
  border-spacing: 2px;
}
.pika-table thead,
.pika-table tbody,
.pika-table tfoot {
  vertical-align: middle;
}
.pika-table td {
  border: 0px;
  padding: 0;
}
.pika-table td[valign=top] {
  vertical-align: top;
}
.pika-table td[valign=middle] {
  vertical-align: middle;
}
.pika-table td[valign=bottom] {
  vertical-align: bottom;
}
.pika-table td[valign=baseline] {
  vertical-align: baseline;
}
.pika-table td p {
  margin: 0;
}
.pika-table td ul,
.pika-table td ol {
  padding-bottom: 0;
  margin: 0;
}
.pika-table td .table-head-mobile {
  display: none;
}
.pika-table td ol,
.pika-table td ul,
.pika-table td li,
.pika-table td span,
.pika-table td div {
  font-weight: normal;
}
.pika-table td b,
.pika-table td strong {
  color: inherit;
}

/* time css */


.ui-timepicker-container {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box 
  }
  
  .ui-timepicker,
  .ui-timepicker-viewport {
    box-sizing: content-box;
    height: 205px;
  /*   display: block; */
  /*   margin: 0 */
  }
  
  .ui-timepicker {
    list-style: none;
  /*   padding: 0 1px; */
    text-align: center
  }
  
  .ui-timepicker-viewport {
    padding: 0px;
  /*   margin:0px; */
  /*   overflow: right; */
    overflow-x: hidden
  }
  
  .ui-timepicker-standard {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.9em;
    background-color: #FFF;
    border: 1px solid #AAA;
    color: #222;
    position: absolute;
  /*   margin: 0; */
  /*   padding: 2px */
  }
  
  .ui-timepicker-standard a {
    border: 1px solid transparent;
    color: #222;
    display: block;
  /*   padding: .2em .4em; */
  /*   padding:0px; */
    text-decoration: none
  }
  
  .ui-timepicker-standard .ui-state-hover {
    background-color: #DADADA;
  /*   border: 1px solid #999; */
  /*   font-weight: 400; */
    color: #212121
  }
  

  
  .ui-timepicker-corners,
  .ui-timepicker-corners .ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
  }

/* time css */
.qtySelector{
	height: 35px;
	margin: 41px auto 0;
}
.qtySelector .fa{
	padding: 10px 5px;
	width: 35px;
	height: 100%;
	float: left;
  cursor: pointer;
  border: 1px solid rgb(211, 204, 204);
  border-radius: 3px;
  margin-right: 10px;
}
.qtySelector .fa.clicked{
	font-size: 12px;
	padding: 12px 5px;
}
.qtySelector .fa-minus{
}
.qtySelector .fa-plus{
}
.qtySelector .qtyValue{
	border: none;
	padding: 5px;
	width: 35px;
	height: 100%;
	float: left;
  text-align: center;
  border: 1px solid rgb(211, 204, 204);
  border-radius: 3px;
  margin-right: 10px;
}
/* booking section */

/* body section */
.bodyimg{
  position: relative;
}
.bodyimg img{
  filter: brightness(.8);
}

.bodyimg_title {
  position: absolute;
  transform: translate(0%, 100%);
  top: 57%;
  left: 50%;
}
.bodyimg_title h1{
  color: #fff;
  font-size: 80px;
  font-weight: 500;

}
.bodyimg_title h3{
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}
/* body section */
/* gallery section */
.galler_image{
  position: relative;
}
.galler_image img{
  filter: contrast(1.2);
  box-shadow: 1px 1px 4px 2px rgb(0,0,0,.3);
}  
.galler_image_tile {
  position: absolute;
  bottom: 0;
  left: 35%;
  transform: translate(0%, -35%);
}
.galler_image_tile h2{
  color: #fff;
  font-weight: 500 !important;
}
.fa-icon_gly_1 {
  border: 3px solid #BCA70D;
  padding: 9px;
  border-radius: 100px;
  color: #BCA70D;
}
.fa-icon_gly_2 {
  border: 3px solid #BCA70D;
  padding: 9px 8px;
  border-radius: 100px;
  color: #BCA70D;
}
.fa-icon_gly_3 {
  border: 3px solid #BCA70D;
  padding: 9px 7px;
  border-radius: 100px;
  color: #BCA70D;
}
/* gallery section */
/* contact us */
.from-contact {
  height: 64px;
  border: 1px solid #8e8484;
  border-radius: unset;
}
.from-contact-text{
  border: 1px solid #8e8484;
  border-radius: unset;
}
.btn-mybtn{
  border-radius: unset;
  background: rgb(116,126,148);
  background: linear-gradient(90deg, rgba(116,126,148,1) 7%, rgba(97,78,120,1) 34%, rgba(94,70,115,1) 44%, rgba(83,60,93,1) 92%);
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: 500;
  cursor: pointer !important;
  margin-left: 0;
  -transition: all 2s !important;
  -webkit-transition: all 2s !important;
}
.btn-mybtn:hover{
  color: rgb(0, 0, 0); 
  background: rgb(83,60,93);
  background: linear-gradient(90deg, rgba(83,60,93,1) 7%, rgba(94,70,115,1) 39%, rgba(97,78,120,1) 59%, rgba(116,126,148,1) 85%); 
  transition: all 2s;
  transition: all 2s;
  -webkit-transition: all 2s;
}
.iti__selected-flag{
  outline: none;
}
.liner_bttom{
  border-top: 6px solid #385D8A;
}
.contact_ltexta li{
  padding: 5px 0px ;
}
.contact_ltexta li a{
  color: #000;
  font-size: 15px;
}
/* contact us */
/* footer section */
.bg-footer{
  background-color: #46344E;
}

.logoftr {
  width: 80%;
  
}
.logoftr img{
  margin: 94px 0px 0px 54px;

}
.listle p{
  font-size: 29px;
  font-weight: 500;
  color: black;
}
.list-ulftr li{
  padding: 7px 0px;
}
.list-ulftr li a{
  font-size: 18px;
  font-weight: 500;
  color: black;
  
}
.btn-ft-cn{
  font-weight: 400;
  font-size: 45px;
  border: 5px solid #7F7F7F;
  border-radius: 10px;
  background: none;
  color: #fff;
  margin-top: 118px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.btn-ft-cn:hover{
 color: rgb(230, 223, 223);
}
.emaillnk_ftr{
  margin: auto;
  padding: 10px 0px;
}
.emaillnk_ftr a {
  font-size: 21px;
  color: black;
  font-weight: 500;
}
.emaillnk_ftrsd {
  font-size: 21px;
  color: black;
  font-weight: 500;
}
.iti {
  width: 100%;
}
.techics{
  color: #fff;
  font-size: 20px;
}
.techics a{
  color: #fff;
  font-size: 20px;
}

/* footer section */

/* aircraft_directory_page */
.container_aircraft{
  max-width: 80%;
}

.list_aircraft_ul li a{
  color: #000;
}


/* aircraft_directory_page */
/* air ambulance page */
.image_bnr_amb{
  position: relative;
}
.imageamb_d{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: fit-content;
}
.imageamb_d h6{
    font-size: 31px;
    color: #fff;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-top: 1.1px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold !important;
    text-align: center;
    background-color: #00000063;
    padding: 30px 0px;
}
.imageamb_d h1{
  font-size: 1rem;
  font-size: 85px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400 !important;
  text-align: center;
  background-color: #00000063;
  padding: 20px 46px;
}

.mybaner{
  background-image: url(../images/bg_banner.png);
  background-repeat: repeat;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;

}

.mybaner_img{
  vertical-align: middle;
  border-style: none;
  filter: contrast(1.4);
}
.title_head_amb{
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(170, 143, 143);
}

.text_airabm_amb{
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(170, 143, 143);
  padding: 13px;
}
.textp_airabm_amb{
  font-weight: 400;
  color: rgb(170, 143, 143);
}
.ul_list_airamb li{
  padding: px 0px;
}
.ul_list_airamb li p {
  font-size: 13px;
}
.btnqutrs{
  background-color: #0a1641;
  padding: 0;
  color: #fff;
}
.bg-fndb-in{
  background-color:#0a1641;
  padding: 14px;
}
.bg-sndb-in{
  background-color: #15286b;
  transform: skewX(20deg, 0);
 padding: 12px 0px 12px 30px;
}
.bg-sndb-in::before{
  position: relative;
  right: 15px;
 
}
.btnqutrs:hover{
  color: floralwhite;
}

/* air ambulance page */
/* aircraft management */
.carousel-item_magmt{
  height: 700px;
}

.bg-managemnt{
  position: relative;
  background-color: #fff;
}
.bg-managemnt::before{
  content: '';
  position: absolute;
  width: 50%;
  height: 78%;
  bottom: 43%;
  left: 0;
  transform: skewY(17deg);
  background-color: #fff;
  box-shadow: 7px -10px 7px 5px rgb(0,0,0,.3);
  border-top: 4px solid #949596;
}
.bg-managemnt::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 78%;
  bottom: 43%;
  right: 0;
  transform: skewY(-17deg);
  right: 0;
  background-color: #fff;
  box-shadow: 12px -12px 18px -8px rgb(0,0,0,.4);
  border-top: 4px solid #949596;

}
.management_snd_t{
  z-index: 1;
}
.management_snd_t h5{
  font-weight: 500;
  padding: 10px 0px;
}
.management_snd_t p{
  font-weight: 400;
}
.imageamgt_d{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: fit-content;
}
.imageamgt_d h1{
    font-size: 1rem;
    font-size: 85px;
    color: #fff;
    text-transform: uppercase;
    text-transform: capitalize;
    font-weight: 600 !important;
    text-align: center;
    background-color: #00000080;
    padding: 20px 46px;
  }
  .air_managesug{
    z-index: 1;
  }
  .air_managesug span i{
    color: rgb(177, 2, 2);
    font-size: 50px;
  }
  .air_managesug h3{
    font-weight: 500;
    padding: 20px 0px;
  }
  .air_managesug p{
    font-weight: 500;
  }
/* aircraft management */

/* operational support */
.slidenav{ 
  -webkit-backface-visibility: hidden;
  z-index: 5; 
  position: fixed; 
  background-color: transparent;
  border: none;
  box-shadow: none;
}
/* operational support */

/* about us page */

.bg-aboutus{
  background-color: #0a1641;
  position: relative;
  z-index: 2;
  box-shadow: 4px 4px 8px 5px rgb(0,0,0,.3);
}
.bg-aboutus::after {
  content: '';
  position: absolute;
  transform: skewX(-20deg);
  /* transform: scaleX(19); */
  display: block;
  width: 100%;
  top: 0;
  left: 100px;
  z-index: -1;
  background-color:#0a1641;
  height: 100%;
  box-shadow: 13px 4px 8px 5px rgb(0,0,0,.3);
}
.bg-aboutus h3{
  color: #fff;
}
.bg-aboutus p{
  color: #fff;
}
/* about us page */
/* contact us */

.starbg i{
   background-color:#0a1641;
   padding: 1px 3px;
   border-radius: 3px;
   color: #fff;
}

/* contact us */



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1441px) and (max-width: 1600px) {
  .topbar_right li a{
    color: #fff;
    font-size: 13px;
  }
  .nav-links li a {
    font-size: 17px;
  }
  .bodyimg_title {
    position: absolute;
    transform: translate(0%, 100%);
    top: 57%;
    left: 44%;
}
.galler_image img{
  height: 350px;
}
.galler_image_tile {
  left: 26%;
  transform: translate(0%, -6%);
}
.btn-ft-cn{
  font-size: 33px;
}

}
@media (min-width: 1400px) and (max-width: 1440px){
.topbar_right li a{
    color: #fff;
    font-size: 14px;
}
.nav-links li a {
  font-size: 16px;
}
.techics_it{
  margin: auto ;
}

.galler_image_tile {
  left: 17%;
  transform: translate(0%, -6%);
}
}

@media (min-width: 1281px) and (max-width: 1366px) {
 .logo_img {
    display: block;
    width: 60%;
}
.topbar_right li a {
    font-size: 12px;
}
.nav-links li a {
  font-size: 16px;
}
.bodyimg_title {
  position: absolute;
  transform: translate(-6%, 85%);
  top: 55%;
  left: 41%;
}
.galler_image img {
  height: 380px;
}
.btn-ft-cn {
    font-size: 25px;
}

.emaillnk_ftr a {
    font-size: 18px;
}
.form-group .caret-down_in {

    right: 1.4rem;
}
.rsp_psg{
  padding: 0;
}
.rsp_psg span{
  font-size: 16px;
}
.qtySelector .fa {
    margin-right: 3px;
}

.techics_it{
  text-align: center !important;
  margin: auto ;
}
.qtySelector {
  height: 35px;
  margin: 41px auto 0;
  margin-left: 15px;
}
.qtySelector .qtyValue {
  margin-right: 2px;
}

}

@media only screen and (max-width: 1280px) {
  .topbar_right li {
    padding: 0px 5px;
}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1141px) and (max-width: 1280px) {
  .logo_img {
    display: block;
    width: 60%;
}
.topbar_right li a {
    font-size: 11px;
}
.nav-links li a {
    font-size: 15px;
}
.bodyimg_title {
  position: absolute;
  transform: translate(-6%, 85%);
  top: 54%;
  left: 39%;
}
.galler_image img {
  height: 380px;
}
.btn-ft-cn {
    font-size: 25px;
}

.emaillnk_ftr a {
    font-size: 18px;
}
.form-group .caret-down_in {

    right: 1.4rem;
}
.rsp_psg{
  padding: 0;
}
.rsp_psg span {
  font-size: 14px !important;
}
.qtySelector .fa {
    margin-right: 3px;
}
.qtySelector .qtyValue {
    margin-right: 3px;
}
.logowdt {
  padding-left: 0px;
}
.topbar_right {
  padding: 0px;
}
.techics_it{
  text-align: center !important;
  margin: auto ;
}
.form_hgt {
  padding: 0 ;
  }
}
@media (min-width: 1100px) and (max-width: 1140px) {
  .logo_img {
    display: block;
    width: 60%;
}
.topbar_right li {
  padding: 0px 0px;
}
.topbar_right li a {
  font-size: 10px;
}
.nav-links li a {
  font-size: 11px;
}
.form-row__title{
  font-size: 15px;
}
.pikaday .fa-calendar-alt {

  right: 8px;

}
.rsp_psg span {
    font-size: 14px;
}

.bodyimg_title {
    position: absolute;
    transform: translate(-6%, 85%);
    top: 50%;
    left: 50%;
}
.galler_image img {
  height: 100%;
}
.btn-ft-cn {
    font-size: 25px;
}

.emaillnk_ftr a {
    font-size: 18px;
}
.form-group .caret-down_in {

    right: 1.4rem;
}
.rsp_psg{
  padding: 0;
}
.rsp_psg span{
  font-size: 14px !important;
}
.qtySelector .fa {
    margin-right: 3px;
}
.qtySelector .qtyValue {
    margin-right: 3px;
}
.logowdt {
  padding-left: 0px;
}
.topbar_right {
  padding: 0px;
}
.techics_it{
  text-align: center !important;
  margin: auto ;
}
}
@media (min-width: 1024px) and (max-width: 1080px) {
  .from_time{
    padding-right: 47px !important;
  }
  .logo_img {
    display: block;
    width: 60%;
}
.form-group .caret-down_in {
  right: 3.4rem;
}
.topbar_right li a {
  font-size: 17px;
}

.bodyimg_title {
    position: absolute;
    transform: translate(-6%, 85%);
    top: 50%;
    left: 50%;
}
.galler_image img {
  height: 100%;
}
.btn-ft-cn {
    font-size: 25px;
}

.emaillnk_ftr a {
    font-size: 18px;
}

.rsp_psg_rsp{
  padding-left: 23px;
  text-align: left !important;
}
.qtySelector_div{
  text-align: left !important;
}
.rsp_psg span{
  font-size: 16px;
}
.qtySelector .fa {
    margin-right: 3px;
}
.qtySelector .qtyValue {
    margin-right: 3px;
}
.logowdt {
  padding-left: 0px;
}
.topbar_right {
  padding: 5px 0px 5px 20px;
}
.emaillnk_row{
  padding: 0px !important;
}
.techics_it {
  text-align: center !important;
  margin: auto;
}
.btn-ft-cnrsp{
  text-align: center;
}
.emaillnk_ftr {
  margin: auto;
  padding: 15px 0px;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: #D9F5FD;
  font-size: 12.4px;
  text-transform: capitalize;
  cursor: pointer;
}
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 991px) {
  .logo_img{
    width:100%;
  }
 .bodyimg_title {
    position: absolute;
    transform: translate(0%, 80%);
    top: 50%;
    left: 46%;
  }
.bodyimg_title h3 {
    font-size: 30px;
  }

.bodyimg_title h1 {
    font-size: 44px;
  }
.btn-ft-cn { 
    font-size: 24px;
  }
  .form_hgt_rsp{
    margin-right: 0 !important;
  }
  .from_time {
    padding-right: 45px !important;
}
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 413px) and (max-width: 480px) {

.logo_img{
width:100%;
}
.mx-auto.row.topbar-row {
width: 100%;
  }

.logo_img {
display: block;
width: 100%;
}
.galler_image img {
height: 100%;
}
.galler_image_tile {
left: 34%;
transform: translate(0%, -13%);
}


.logoftr {
  width: 100%;
}
.logoftr img {
  margin: 0;
}

.listle p {
padding-top: 18px;
}
.btn-ft-cn {
margin: 0;
}
.emaillnk_ftr-drp{
text-align: unset !important;
}
.emaillnk_row{
padding-left: 20px;
}

.emaillnk_ftrsd {
font-size: 12px;
} 

.emaillnk_ftr a {
font-size: 15px;
}
.techics {
  font-size: 13px;
  letter-spacing: 2px;
}
.techics a{
  font-size: 13px;
  letter-spacing: 1px;
}

.topbar_right li a {
color: #fff;
font-size: 14px;
}
.topbar_right {
padding: 5px 0px 5px 4px;
}
.bodyimg_title{
position: absolute;
transform: translate(-24%, -23%);
top: 50%;
left: 40%;
}
.bodyimg_title h1{
color: #fff;
font-size: 23px;
font-weight: 500;
padding-left: 10px;

}
.bodyimg_title h3{
color: #fff;
font-size: 15px;
font-weight: 500;
}
.tolink-auto{
padding: 0px 15px !important;
}
.logowdt{
padding-left: 0px;
}
.logoftr img {
margin: 0;
}
}

@media (min-width: 361px) and (max-width: 412px) {
.logo_img{
width:100%;
}

.mx-auto.row.topbar-row {
width: 100%;
}

.logo_img {
display: block;
width: 100%;
}
.galler_image img {
height: 100%;
}
.galler_image_tile {
left: 34%;
transform: translate(0%, -13%);
}
.listle p {
padding-top: 18px;
}
.btn-ft-cn {
margin: 0;
}
.emaillnk_ftr-drp{
text-align: unset !important;
}
.emaillnk_row{
padding-left: 20px;
}

.emaillnk_ftrsd {
font-size: 12px;
} 

.emaillnk_ftr a {
font-size: 15px;
}
.techics {
font-size: 13px;
letter-spacing: 2px;
}
.techics a{
font-size: 13px;
letter-spacing: 1px;
}

.topbar_right li a {
color: #fff;
font-size: 12px;
}
.topbar_right {
padding: 5px 0px 5px 4px;
}
.bodyimg_title{
position: absolute;
transform: translate(-24%, -23%);
top: 50%;
left: 40%;
}
.bodyimg_title h1{
color: #fff;
font-size: 23px;
font-weight: 500;
padding-left: 10px;

}
.bodyimg_title h3{
color: #fff;
font-size: 15px;
font-weight: 500;
}
.tolink-auto{
padding: 0px 15px !important;
}
.logowdt{
padding-left: 0px;
}
.logoftr img {
margin: 0;
}
}
@media (min-width: 320px) and (max-width: 360px) {
.logo_img{
width:100%;
}

.mx-auto.row.topbar-row {
width: 100%;
  }

.logo_img {
display: block;
width: 100%;
}
.galler_image img {
height: 100%;
}
.galler_image_tile {
left: 34%;
transform: translate(0%, -13%);
}
.listle p {
  padding-top: 18px;
  }
  .btn-ft-cn {
  margin: 0;
}
.emaillnk_ftr-drp{
  text-align: unset !important;
}
.emaillnk_row{
  padding-left: 20px;
}

.emaillnk_ftrsd {
  font-size: 12px;
  } 

  .emaillnk_ftr a {
  font-size: 15px;
  }
  .techics {
    font-size: 13px;
    letter-spacing: 2px;
  }
  .techics a{
    font-size: 13px;
    letter-spacing: 1px;
  }

.topbar_right li a {
    color: #fff;
    font-size: 10px;
    }
    .topbar_right {
    padding: 5px 0px 5px 4px;
}
.bodyimg_title{
position: absolute;
transform: translate(-24%, -23%);
top: 50%;
left: 40%;
}
.bodyimg_title h1{
color: #fff;
font-size: 23px;
font-weight: 500;
padding-left: 10px;

}
.bodyimg_title h3{
color: #fff;
font-size: 15px;
font-weight: 500;
}
.tolink-auto{
padding: 0px 15px !important;
}
.logowdt{
padding-left: 0px;
}
.logoftr img {
margin: 0;
}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/



