/* common css */
* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #dde0e2;
}
.f{
  font-family: 'Poppins', sans-serif;
}
/* common css */
/* animated effect */

.bounceIn {
  animation-duration: 1500ms;
  animation-delay: 200ms;
}
/*hover animation effect*/
.card-img-hvr {
  position: relative;
}
.card-hvr-icon-png {
  padding: 108px 369px;
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  opacity: 0;
}
.card-hvr-icon-png:hover {
  opacity: 1;
  -webkit-animation: thing 1s;
  -o-animation: thing 1s;
  animation: thing 1s ease-in-out;
}

@keyframes thing {
  from {
    transform: rotate(0deg) scale(1, 1);
  }
  to {
    transform: rotate(15deg) scale(1.2, 1.2);
  }
}

/*hover animation effect*/
/* scroll top to bottom */
.scrollTop {
  position: fixed;
  right: 2%;
  bottom: 94px;
  background-color: #95979b;
  padding: 5px 11px;
  opacity: 0;
  border-radius: 2px;
  transition: all 0.4s ease-in-out 0s;
}
.scrollTop-icon {
  font-size: 22px;
  padding-top: 8px 10px;
  color: #fff;
  cursor: pointer;
}
/* scroll top to bottom */

/* top backgroung image */

/* top backgroung image */

/* top bar  */
.topbar-bg {
  background-color: #46344E;
}

.mx-auto.row.topbar-row {
  width: 80%;
}

.logo_img {
  display: block;
}

.topbar_right {
  margin: auto;
  justify-content: flex-end;
}

.topbar_right li{
  padding: 0px 6px;
}

.topbar_right li a{
  color: #fff;
  font-size: 23px;
}
.topbar_right li a:hover{
  color: #f2f2f2;
}

/* top bar  */
/* navbar section */

nav{
  height: 6rem;
  width: 100%;
  background-color: #0A1641;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  z-index: 10;
  border-bottom: 4px solid #385D8A;
}

/*Styling logo*/
.logo{
  padding:1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links{
  display: flex;
  list-style: none;
  margin: auto;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
  color: #D9F5FD;
  font-size: 23px;
  text-transform: capitalize;
  cursor: pointer;
}
.nav-links li a:hover {
  color: #61DAFB;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  right: 15%;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
  transform-origin: left;
}
.nav-links li a:hover::before{
  width: 80%;
  transform-origin: left;
}

/*Styling Buttons*/
.login-button{
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button{
  color: #131418;
  background-color: #61DAFB;
  border: 1.5px solid #61DAFB;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
      position: sticky;

  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
      background: #46344e;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .fade:not(.show) {
    opacity: 1;
}
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
/* navbar section */
.main_ul{
  border-bottom: 4px solid #0A1641;
}
.main_ul li{

}
.main_ul li a{
  padding: 24px;
  color: #000;
  font-size: 17px;
  background-color: #e0d1d1;
  border-radius: unset !important;

}
.main_ul li a.active{
  background-color: #46344E !important;
  border-radius: unset;
  
}
.scrollbar-near-moon::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-near-moon::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-near-moon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }
  
  .bordered-pink::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #ec407a; }
  
  .bordered-pink::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }
  
  .bordered-indigo::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #3f51b5; }
  
  .bordered-indigo::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }
  
  .bordered-black::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #000; }
  
  .bordered-black::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }
  
  .square::-webkit-scrollbar-track {
  border-radius: 0 !important; }
  
  .square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }
  
  .thin::-webkit-scrollbar {
  width: 6px; }
/* booking section */
.form_hgt{
  margin-top: 32px;
}
.from_bdr {
  border: 1px solid #d8cccc;
  border-radius: unset;
  height: 51px;
}
.form-group .departure_icon{
  color: #666;
  position: absolute;
  left: 2rem;
  top: 1em;
  display: inline-block;
}
.form-group .caret-down_in{
  color: #666;
  position: absolute;
  right: 2rem;
  top: 1em;
  display: inline-block;
}
.pikaday {
  position: relative;
  display: inline-block;
}
.pikaday .fa-calendar-alt {
  color: #666;
  position: absolute;
  right: 14px;
  top: 1em;
  display: inline-block;
}
.pikaday__display {
  padding-left: 1.9em !important;
}
.is-today .pika-button {
  color: #444;
  background-color: #A7BAC5;
}
.is-selected .pika-button {
  background-color: #4f758B;
  color: white;
}
.pika-button:hover {
  background-color: #cf7f00;
}
.pika-table th {
  color: #777;
  background-color: white;
}
.pika-table th abbr[title] {
  border: none;
  text-decoration: none;
  cursor: default;
}
/** OVERRIDES for AAFP ISSUES **/
.pika-next,
.pika-prev,
.pika-button {
  box-shadow: none;
}
.pika-button {
  background-color: #dce3e8;
  color: #444;
}
.pika-label {
  font-size: 18px;
  color: #4f758b;
}
.pika-single table tr th:first-child {
  padding-left: 0;
}
.pika-button,
.pika-prev,
.pika-next {
  border-radius: 0 !important;
}
.pika-table {
  display: table;
  vertical-align: middle;
  float: none;
  clear: none;
}
.pika-table thead,
.pika-table tbody,
.pika-table th,
.pika-table td,
.pika-table tr {
  float: none;
  clear: none;
}
.pika-table thead {
  display: table-header-group;
}
.pika-table tr {
  display: table-row;
  border: 0;
}
.pika-table td,
.pika-table th {
  display: table-cell;
}
.pika-table thead {
  display: table-header-group;
}
.pika-table tbody {
  display: table-row-group;
}
.pika-table tfoot {
  display: table-footer-group;
}
.pika-table th {
  font-weight: bolder;
  text-align: center;
}
.pika-table td,
.pika-table th,
.pika-table tr {
  vertical-align: inherit;
}
.pika-table table {
  border-spacing: 2px;
}
.pika-table thead,
.pika-table tbody,
.pika-table tfoot {
  vertical-align: middle;
}
.pika-table td {
  border: 0px;
  padding: 0;
}
.pika-table td[valign=top] {
  vertical-align: top;
}
.pika-table td[valign=middle] {
  vertical-align: middle;
}
.pika-table td[valign=bottom] {
  vertical-align: bottom;
}
.pika-table td[valign=baseline] {
  vertical-align: baseline;
}
.pika-table td p {
  margin: 0;
}
.pika-table td ul,
.pika-table td ol {
  padding-bottom: 0;
  margin: 0;
}
.pika-table td .table-head-mobile {
  display: none;
}
.pika-table td ol,
.pika-table td ul,
.pika-table td li,
.pika-table td span,
.pika-table td div {
  font-weight: normal;
}
.pika-table td b,
.pika-table td strong {
  color: inherit;
}

/* time css */


.ui-timepicker-container {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box 
  }
  
  .ui-timepicker,
  .ui-timepicker-viewport {
    box-sizing: content-box;
    height: 205px;
  /*   display: block; */
  /*   margin: 0 */
  }
  
  .ui-timepicker {
    list-style: none;
  /*   padding: 0 1px; */
    text-align: center
  }
  
  .ui-timepicker-viewport {
    padding: 0px;
  /*   margin:0px; */
  /*   overflow: right; */
    overflow-x: hidden
  }
  
  .ui-timepicker-standard {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.9em;
    background-color: #FFF;
    border: 1px solid #AAA;
    color: #222;
    position: absolute;
  /*   margin: 0; */
  /*   padding: 2px */
  }
  
  .ui-timepicker-standard a {
    border: 1px solid transparent;
    color: #222;
    display: block;
  /*   padding: .2em .4em; */
  /*   padding:0px; */
    text-decoration: none
  }
  
  .ui-timepicker-standard .ui-state-hover {
    background-color: #DADADA;
  /*   border: 1px solid #999; */
  /*   font-weight: 400; */
    color: #212121
  }
  
  .ui-timepicker-standard .ui-menu-item {
  /*   margin: 0;
    padding: 0 */
  }
  
  .ui-timepicker-corners,
  .ui-timepicker-corners .ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
  }

/* time css */
.qtySelector{
	height: 35px;
	margin: 41px auto 0;
}
.qtySelector .fa{
	padding: 10px 5px;
	width: 35px;
	height: 100%;
	float: left;
  cursor: pointer;
  border: 1px solid rgb(211, 204, 204);
  border-radius: 3px;
  margin-right: 10px;
}
.qtySelector .fa.clicked{
	font-size: 12px;
	padding: 12px 5px;
}
.qtySelector .fa-minus{
}
.qtySelector .fa-plus{
}
.qtySelector .qtyValue{
	border: none;
	padding: 5px;
	width: 35px;
	height: 100%;
	float: left;
  text-align: center;
  border: 1px solid rgb(211, 204, 204);
  border-radius: 3px;
  margin-right: 10px;
}
/* booking section */

/* body section */
.bodyimg{
  position: relative;
}
.bodyimg img{
  filter: brightness(.8);
}

.bodyimg_title{
  position: absolute;
  transform: translate(24%, 23%);
  top: 50%;
  left: 50%;
}
.bodyimg_title h1{
  color: #fff;
  font-size: 80px;
  font-weight: 500;

}
.bodyimg_title h3{
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}
/* body section */
/* gallery section */
.galler_image{
  position: relative;
}
.galler_image img{
  filter: contrast(1.2);
  box-shadow: 1px 1px 4px 2px rgb(0,0,0,.3);
}  
.galler_image_tile{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-6%, -13%);
}
.galler_image_tile h2{
  color: #fff;
  font-weight: 500 !important;
}
.fa-icon_gly_1 {
  border: 3px solid #BCA70D;
  padding: 9px;
  border-radius: 100px;
  color: #BCA70D;
}
.fa-icon_gly_2 {
  border: 3px solid #BCA70D;
  padding: 9px 8px;
  border-radius: 100px;
  color: #BCA70D;
}
.fa-icon_gly_3 {
  border: 3px solid #BCA70D;
  padding: 9px 7px;
  border-radius: 100px;
  color: #BCA70D;
}
/* gallery section */
/* contact us */
.from-contact {
  height: 64px;
  border: 1px solid #8e8484;
  border-radius: unset;
}
.from-contact-text{
  border: 1px solid #8e8484;
  border-radius: unset;
}
.btn-mybtn{
  border-radius: unset;
  background: rgb(116,126,148);
  background: linear-gradient(90deg, rgba(116,126,148,1) 7%, rgba(97,78,120,1) 34%, rgba(94,70,115,1) 44%, rgba(83,60,93,1) 92%);
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: 500;
  cursor: pointer !important;
  margin-left: 0;
  -transition: all 2s !important;
  -webkit-transition: all 2s !important;


}
.btn-mybtn:hover{
  color: rgb(0, 0, 0); 
  background: rgb(83,60,93);
  background: linear-gradient(90deg, rgba(83,60,93,1) 7%, rgba(94,70,115,1) 39%, rgba(97,78,120,1) 59%, rgba(116,126,148,1) 85%); 
  transition: all 2s;
  transition: all 2s;
  -webkit-transition: all 2s;
}
.iti__selected-flag{
  outline: none;
}
.liner_bttom{
  border-top: 6px solid #385D8A;
}

/* contact us */
/* footer section */
.bg-footer{
  background-color: #46344E;
}

.logoftr {
  width: 80%;
  
}
.logoftr img{
  margin: 94px 0px 0px 54px;

}
.listle p{
  font-size: 29px;
  font-weight: 500;
  color: black;
}
.list-ulftr li{
  padding: 7px 0px;
}
.list-ulftr li a{
  font-size: 18px;
  font-weight: 500;
  color: black;
  
}
.btn-ft-cn{
  font-weight: 400;
  font-size: 45px;
  border: 5px solid #7F7F7F;
  border-radius: 10px;
  background: none;
  color: #fff;
  margin-top: 118px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.btn-ft-cn:hover{
 color: rgb(230, 223, 223);
}
.emaillnk_ftr a {
  font-size: 21px;
  color: black;
  font-weight: 500;
}
.emaillnk_ftrsd {
  font-size: 21px;
  color: black;
  font-weight: 500;
}
.iti {
  width: 100%;
}
.techics{
  color: #fff;
  font-size: 20px;
}
.techics a{
  color: #fff;
  font-size: 20px;
}

/* footer section */

/* aircraft_directory_page */
.container_aircraft{
  max-width: 80%;
}

.list_aircraft_ul li a{
  color: #000;
}


/* aircraft_directory_page */

/* news list section */

/* news list section */
/* blog section */
/* blog section */
/* contact us page*/

/* contact us page*/
/* products page */

/* products page */

/* blog view page */

/* blog view page */

/* single product page */

/* single product page */

/* footer section */

/* footer section */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (max-width: 1366px) {
 .logo_img {
    display: block;
    width: 60%;
}
.topbar_right li a {
    font-size: 14px;
}
.nav-links li a {
    font-size: 18px;
}
.bodyimg_title {
    position: absolute;
    transform: translate(-6%, 85%);
    top: 50%;
    left: 50%;
}
.galler_image img {
    height: 300px;
}
.btn-ft-cn {
    font-size: 25px;
}

.emaillnk_ftr a {
    font-size: 18px;
}
.form-group .caret-down_in {

    right: 1.4rem;
}
.rsp_psg{
  padding: 0;
}
.rsp_psg span{
  font-size: 16px;
}
.qtySelector .fa {
    margin-right: 3px;
}
.qtySelector .qtyValue {
    margin-right: 3px;
}
}
@media (min-width: 1281px) {
  //CSS
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 991px) {
  .logo_img{
    width:100%;
  }
 .bodyimg_title {
    position: absolute;
    transform: translate(0%, 80%);
    top: 50%;
    left: 46%;
  }
.bodyimg_title h3 {
    font-size: 30px;
  }

.bodyimg_title h1 {
    font-size: 44px;
  }
.btn-ft-cn { 
    font-size: 24px;
  }
.topbar_right li a {
    font-size: 20px;
}
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 413px) and (max-width: 480px) {
  
  .logo_img{
    width:100%;
  }
  .mx-auto.row.topbar-row {
    width: 100%;
     }
  
  .logo_img {
    display: block;
    width: 100%;
  }
  .galler_image img {
    height: 100%;
   }
   .galler_image_tile {
    left: 34%;
    transform: translate(0%, -13%);
    }


    .logoftr {
      width: 100%;
    }
    .logoftr img {
      margin: 0;
  }

  .listle p {
    padding-top: 18px;
   }
   .btn-ft-cn {
   margin: 0;
  }
  .emaillnk_ftr-drp{
    text-align: unset !important;
  }
  .emaillnk_row{
    padding-left: 20px;
  }

  .emaillnk_ftrsd {
    font-size: 12px;
   } 

   .emaillnk_ftr a {
    font-size: 15px;
    }
    .techics {
      font-size: 13px;
      letter-spacing: 2px;
    }
    .techics a{
      font-size: 13px;
      letter-spacing: 1px;
    }

  .topbar_right li a {
    color: #fff;
    font-size: 12px;
   }
  .bodyimg_title{
    position: absolute;
    transform: translate(-24%, -23%);
    top: 50%;
    left: 40%;
  }
  .bodyimg_title h1{
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    padding-left: 10px;
  
  }
  .bodyimg_title h3{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
}
@media (min-width: 320px) and (max-width: 412px) {
  .logo_img{
    width:100%;
  }
  
  .mx-auto.row.topbar-row {
    width: 100%;
     }
  
  .logo_img {
    display: block;
    width: 100%;
  }
  .galler_image img {
    height: 100%;
   }
   .galler_image_tile {
    left: 34%;
    transform: translate(0%, -13%);
    }
    .listle p {
      padding-top: 18px;
     }
     .btn-ft-cn {
     margin: 0;
    }
    .emaillnk_ftr-drp{
      text-align: unset !important;
    }
    .emaillnk_row{
      padding-left: 20px;
    }
  
    .emaillnk_ftrsd {
      font-size: 12px;
     } 
  
     .emaillnk_ftr a {
      font-size: 15px;
      }
      .techics {
        font-size: 13px;
        letter-spacing: 2px;
      }
      .techics a{
        font-size: 13px;
        letter-spacing: 1px;
      }
  
  .topbar_right li a {
    color: #fff;
    font-size: 11px;
   }
  .bodyimg_title{
    position: absolute;
    transform: translate(-24%, -23%);
    top: 50%;
    left: 40%;
  }
  .bodyimg_title h1{
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    padding-left: 10px;
  
  }
  .bodyimg_title h3{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
